<div class="products-container">
    <table>
        <thead>
            <tr>
                <th>Image Link</th>
                <th>Customer</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input />
                </td>
            </tr>
        </tbody>
    </table>
</div>