<div class="expenditures-container create-multiple-expenditures">
    <div class="error-message"></div>
    <div class="header">
        <input type="button" class="btn-add-row" value="{% trans %}Add row{% endtrans %}" />
        <input type="button" class="btn-save" value="{% trans %}Save{% endtrans %}" />
    </div>
    <table>
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Total cost{% endtrans %}</th>
                <th>{% trans %}Note{% endtrans %}</th>
                <th>{% trans %}Action{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            <tr style="display: none;" class="origin-row">
                <td>
                    <input type="text" class="name" placeholder="{% trans %}Name{% endtrans %}" />
                </td>
                <td>
                    <input type="text" type="number" min="0" class="total-cost" value="" placeholder="{% trans %}Total cost{% endtrans %}" />
                </td>
                <td>
                    <input type="text" class="note" placeholder="{% trans %}Note{% endtrans %}" />
                </td>
                <td>
                    <input type="button" class="btn-remove-row" value="{% trans %}Remove{% endtrans %}" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <input type="button" class="btn-add-row" value="{% trans %}Add row{% endtrans %}" />
        <input type="button" class="btn-save" value="{% trans %}Save{% endtrans %}" />
    </div>
</div>