* {
    box-sizing: border-box;
}
body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    background-color: #e9eaed;
    font-size: 14px;
    max-width: 1100px;
    margin: auto;
}
ul {
    padding: 0px;
}
li {
    margin: 0px;
    padding: 0px !important;
    list-style-type: none !important;
}
label {
    font-weight: bold;
}
input[type="submit"],
input[type="button"] {
    padding: 10px 20px;
    background-color: #3a5795;
    color: white;
    border: none;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    height: 30px;
    width: 250px;
}
ul.menu {
    margin: 0px;
}
a {
    text-decoration: none;
    color: #3b5998;
}
a:visited {
    color: #3b5998;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}
table {
    width: 100%;
}
th, tr {
    height: 0px;
}
table, tr, th, td {
    border: 1px solid #efefef;
}
th, td {
    padding: 8px 10px;
}
th {
    background-color: #efefef;
}
form label {
    display: block;
}
img {
    width: 100%;
    height: auto;
    border: 1px solid #E9EAED;
}



/* common */
.region-highlighted {
    display: none;
}
.form-autocomplete {
    border: 1px solid #A9A9A9;
}
.ui-autocomplete .ui-menu-item {
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui-autocomplete .ui-menu-item a {
    margin: 0px 10px;
    line-height: 30px;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
    border: none;
    margin: 0px;
    background: none;
    background-color: #EFEFEF;
    font-style: italic;
}
.ui-autocomplete .ui-menu-item.ui-state-focus a {
    color: orangered;
}
#block-ecommerce-branding {
    padding: 10px 0px;
}
#block-ecommerce-branding img {
    width: 80px;
    height: 80px;
}
.site-branding .site-branding__text {
    display: inline-block;
    font-size: 40px;
    margin-left: 20px;
    vertical-align: top;
    line-height: 80px;
}
.page-title {
    padding: 10px 0px;
    margin-bottom: 10px;
    background-color: #3a5795;
    color: white;
    text-align: center;
    font-size: 25px;
}
.menu .menu-item {
    display: inline-block;
}
.region-secondary-menu {
    float: right;
}
.region-secondary-menu .menu .menu-item {
    display: inline-block;
}
.region-secondary-menu .menu .menu-item {
    margin-right: 10px;
}
.region-secondary-menu .menu .menu-item a:hover {
    background-color: #efefef;
}
.region-primary-menu {
    margin-top: 40px;
}
.region-primary-menu .menu {
    /*padding: 15px 0px;*/
    background-color: white;
}
.region-primary-menu .menu > li {
    display: inline-block;
    width: auto;
    margin: 0px;
    padding: 0px;
    line-height: 44px;
}
.region-primary-menu .menu li a {
    padding: 15px 20px;
}
.region-primary-menu .menu li a:hover {
    background-color: #e1e2e3;
}
.region-primary-menu .menu li a.is-active {
    background-color: #3a5795;
    color: white;
}

.block-user-login-block,
#block-ecommerce-content .content > div,
#block-ecommerce-content .content > article,
#block-ecommerce-content .content > form,
.views-element-container {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 5px;
}
.block-user-login-block h2,
.block.block-views h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EFEFEF;
}
.view-header {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
}
table .views-field {
    text-align: center;
}
.views-field-field-debt,
.field--name-field-debt,
.views-field.views-field-total-price {
    color: orangered;
}
.views-field-field-debt .field-content {
    font-size: 30px;
    font-weight: bold;
}
table .views-field-total-price,
table .views-field-field-last-payment-money,
table .views-field-field-payment-money,
table .views-field-field-debt,
table .views-field-field-total-money {
    text-align: right !important;
}
ul.tabs {
    margin: 0px;
}
ul.tabs > li {
    margin: 0px;
}
ul.tabs > li a {
    padding: 15px 20px;
}
ul.tabs > li.is-active a {
    background-color: white;
}
#content .block-menu .menu {
    background-color: #e1e2e3;
    padding: 15px 0px;
}
#content .block-menu .menu li a {
    padding: 15px 20px;
}
#content .block-menu .menu li a:hover {
    background-color: white;
}
li.pager__item {
    padding: 0px;
    line-height: 30px;
}
.pager__item a {
    padding: 5px 10px;
    background-color: #e1e2e3;
    color: black;
}
.pager__item a:hover {
    color: black;
}
.pager__item.is-active a {
    background-color: #3a5795;
    color: white;
}
.pager__item--next,
.pager__item--first,
.pager__item--previous {
    margin-right: 5px;
}
.views-field.views-field-nothing a {
    padding: 0px 10px;
}
.products-container table tr td input[type="text"] {
    width: 100%;
}
.view .views-label,
article .field__label,
article.profile .form-item h4 {
    width: 20%;
    display: inline-block;
    font-weight: bold;
    padding: 10px 0px;
}
.users-list .view-header .view-content .views-field .field-content,
.user-block .view-content .views-field .field-content {
    display: inline-block;
}
article.profile .field .field__item {
    display: inline-block;
}
article.profile .form-item {
    margin: 0px;
}
article.profile .form-item h4 {
    display: inline-block;
    font-weight: bold;
    padding: 10px 0px;
}
.link.tableresponsive-toggle {
    margin-top: 5px;
    margin-bottom: 10px;
}
.error-message {
    display: none;
    border: 2px solid red;
    color: red;
    padding: 10px;
    margin: 10px auto;
    background-color: #FFF4E8;
}
.products-container.create-multiple-products .btn-add-row,
.products-container.create-multiple-products .btn-save {
    margin: 10px 0px;
}
.owl-carousel .owl-item img {
    height:auto;
    width:100%;
    display: block;
}

.view-normal-products .views-row {
    border-bottom: 1px solid #efefef;
    padding-bottom: 15px;
}
article.node--type-product h2 {
    padding: 15px 0px;
}
article.node--type-product .field {
    padding: 10px 0px;
}
article.node--type-product .field .field__label {
    padding: 0px;
}
article .field--name-field-images {
    position: relative;
    padding: 0px !important;
}
.flex-direction-nav {
    position: absolute;
    top: 40%;
    width: 100%;
    list-style: none;
}
.flex-direction-nav li {
    display: inline-block;
}
.flex-direction-nav li a {
    content: "";
    font-size: 0px;
}
.flex-direction-nav li a:before {
    font-family: FontAwesome;
    font-size: 40px;
    color: #3a5795;
    background-color: rgba(58, 87, 149, 0.5);
    padding: 20px 5px;
}
.flex-direction-nav .flex-nav-prev a:before {
    position: absolute;
    left: 0px;
    content: "\f053";
}
.flex-direction-nav .flex-nav-next a:before {
    position: absolute;
    right: 0px;
    content: "\f054";
}
.flex-control-nav {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.flex-control-nav li {
    display: inline-block;
    margin: 5px;
}
.flex-control-nav li a {
    font-size: 0px;
    border-radius: 50%;
    padding: 8px 4px;
    border: 1px solid #3a5795;
}
.flex-control-nav li a:before {
    font-size: 0px;
    content: "";
    border-radius: 50%;
    padding: 4px;
    background-color: white;
}
.flex-control-nav li .flex-active:before {
    background-color: #3a5795;
}
.buying-container {
    padding: 10px 0px;
    position: relative;
}
.quantity-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.buying-container .quantity {
    width: 100px;
    height: 38px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.buying-container .quantity-add,
.buying-container .quantity-sub {
    position: absolute;
    right: 2px;
    content: "";
    font-size: 0px;
}
.buying-container .quantity-add {
    top: 0px;
}
.buying-container .quantity-sub {
    bottom: 0px;
}
.buying-container .quantity-add:before {
    content: "\f0aa";
    font-family: FontAwesome;
    font-size: 20px;
}
.buying-container .quantity-sub:before {
    content: "\f0ab";
    font-family: FontAwesome;
    font-size: 20px;
}
.buying-container a:hover {
    color: orangered;
}
.buying-container .button-buy-now {
    vertical-align: top;
}
.seperator {
    height: 1px;
    width: 100%;
    background-color: #efefef;
}
.field--name-body p {
    line-height: 2 !important;
}
.field--name-field-price .field__item {
    color: orangered;
    font-size: 25px;
}
.profit-statistics-container label,
.profit-statistics-container input {
    display: block;
}
.profit-statistics-container .date-from-container,
.profit-statistics-container .date-to-container {
    float: left;
    margin: 5px;
}
.profit-statistics-container .btn-container {
    clear: both;
    display: block;
}
.profit-statistics-container .btn-container input {
    display: inline-block;
    margin: 5px;
}
.profit-statistics-container .result {
    padding: 5px;
}
.profit-statistics-container .result > div {
    margin: 15px 0px;
}
.profit-statistics-container .result .label {
    width: 20%;
    display: inline-block;
}
.profit-statistics-container .result .profit .data {
    color: orangered;
    font-size: 30px;
    font-weight: bold;
}
/* end common */


/* Large desktops and laptops */
@media (min-width: 1200px) {
    .region-primary-menu .menu > li {
        line-height: 47px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .region-primary-menu .menu > li {
        line-height: 47px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .views-field-field-image-links img {
        width: 150px;
        height: 150px;
    }
    .region-primary-menu .menu > li {
        line-height: 47px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body {
        font-size: 12px;
    }
    input[type="text"],
    input[type="password"],
    input[type="tel"],
    input[type="email"] {
        width: 100%;
    }
    th, td {
        padding: 10px 2px;
    }

    .site-branding .site-branding__text {
        font-size: 30px;
    }
    .page-title {
        padding: 10px 0px;
        margin-bottom: 5px;
        color: white;
        text-align: center;
        font-size: 20px;
    }
    .form-item,
    .form-actions {
        margin: 5px auto;
    }
    .view .views-label,
    article .field__label {
        padding: 8px 0px;
    }
    .views-element-container,
    article.profile {
        padding: 5px;
    }
    .view .views-label,
    article .field__label,
    article.profile .form-item h4 {
        width: 20%;
    }
    #content .block-menu .menu li a {
        padding: 0px;
    }
    #content .block-menu .menu .menu-item {
        margin: 8px 20px;
    }
    .responsive-enabled .priority-medium,
    .responsive-enabled .priority-low {
        display: none;
    }
    .views-field-field-image-links img {
        width: 120px;
        height: 120px;
    }
    .buying-container .quantity {
        height: 34px;
        font-size: 18px;
    }
    .buying-container .quantity-add:before {
        font-size: 18px;
    }
    .buying-container .quantity-sub:before {
        font-size: 18px;
    }
    .flex-direction-nav {
        top: 35%;
    }
    .flex-direction-nav li a:before {
        font-size: 35px;
        padding: 15px 5px;
    }
    .flex-control-nav li a {
        padding: 6px 3px;
    }
    .flex-control-nav li a:before {
        padding: 3px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .site-branding .site-branding__text {
        font-size: 20px;
    }
    .view .views-label,
    article .field__label,
    article.profile .form-item h4 {
        width: 30%;
    }
    .views-field-field-image-links img {
        width: 100px;
        height: 100px;
    }
    .flex-direction-nav {
        top: 30%;
    }
    .flex-direction-nav li a:before {
        font-size: 30px;
        padding: 15px 5px;
    }
    .flex-control-nav li a {
        padding: 6px 3px;
    }
    .flex-control-nav li a:before {
        padding: 3px;
    }
}

@media print {

}